.gray {
  color: #918E9B;
}
.card {
  width: 175px;
  font-size: 0.75rem;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}
h2 {
  font-size: 0.75rem;
  font-weight: normal;
}